.itemCard {
    width: 200px;

}

footer {
    place-items: start;
    display: flex;
}

header {
    place-items: center;
    display: flex;
}

#list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}