[class*="itemCard"] {
    width: 200px;
    background-color: #C7CBDA;
}

.active, .filterBtn:hover {
    background-color: #666;
    color: white;
}

footer {
    place-items: start;
    display: flex;
    background-color: #BE1622;
    margin: 0px;
}

header {
    place-items: center;
    display: flex;
    background-color: #BE1622;
    margin: 0px;
}

#list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {

}

h2 {
    color: #F2BE1A;
    margin: 10px;
}

body {
    margin: 0px;
}
